@layer theme {

  :root {
    --hx-color-red-50: oklch(97.1% 0.013 17.38);
    --hx-color-red-100: oklch(93.6% 0.032 17.717);
    --hx-color-red-200: oklch(88.5% 0.062 18.334);
    --hx-color-red-300: oklch(80.8% 0.114 19.571);
    --hx-color-red-400: oklch(70.4% 0.191 22.216);
    --hx-color-red-500: oklch(63.7% 0.237 25.331);
    --hx-color-red-600: oklch(57.7% 0.245 27.325);
    --hx-color-red-700: oklch(50.5% 0.213 27.518);
    --hx-color-red-800: oklch(44.4% 0.177 26.899);
    --hx-color-red-900: oklch(39.6% 0.141 25.723);
    --hx-color-red-950: oklch(25.8% 0.092 26.042);
    --hx-color-orange-50: oklch(98% 0.016 73.684);
    --hx-color-orange-100: oklch(95.4% 0.038 75.164);
    --hx-color-orange-200: oklch(90.1% 0.076 70.697);
    --hx-color-orange-300: oklch(83.7% 0.128 66.29);
    --hx-color-orange-400: oklch(75% 0.183 55.934);
    --hx-color-orange-500: oklch(70.5% 0.213 47.604);
    --hx-color-orange-600: oklch(64.6% 0.222 41.116);
    --hx-color-orange-700: oklch(55.3% 0.195 38.402);
    --hx-color-orange-800: oklch(47% 0.157 37.304);
    --hx-color-orange-900: oklch(40.8% 0.123 38.172);
    --hx-color-orange-950: oklch(26.6% 0.079 36.259);
    --hx-color-amber-50: oklch(98.7% 0.022 95.277);
    --hx-color-amber-100: oklch(96.2% 0.059 95.617);
    --hx-color-amber-200: oklch(92.4% 0.12 95.746);
    --hx-color-amber-300: oklch(87.9% 0.169 91.605);
    --hx-color-amber-400: oklch(82.8% 0.189 84.429);
    --hx-color-amber-500: oklch(76.9% 0.188 70.08);
    --hx-color-amber-600: oklch(66.6% 0.179 58.318);
    --hx-color-amber-700: oklch(55.5% 0.163 48.998);
    --hx-color-amber-800: oklch(47.3% 0.137 46.201);
    --hx-color-amber-900: oklch(41.4% 0.112 45.904);
    --hx-color-amber-950: oklch(27.9% 0.077 45.635);
    --hx-color-yellow-50: oklch(98.7% 0.026 102.212);
    --hx-color-yellow-100: oklch(97.3% 0.071 103.193);
    --hx-color-yellow-200: oklch(94.5% 0.129 101.54);
    --hx-color-yellow-300: oklch(90.5% 0.182 98.111);
    --hx-color-yellow-400: oklch(85.2% 0.199 91.936);
    --hx-color-yellow-500: oklch(79.5% 0.184 86.047);
    --hx-color-yellow-600: oklch(68.1% 0.162 75.834);
    --hx-color-yellow-700: oklch(55.4% 0.135 66.442);
    --hx-color-yellow-800: oklch(47.6% 0.114 61.907);
    --hx-color-yellow-900: oklch(42.1% 0.095 57.708);
    --hx-color-yellow-950: oklch(28.6% 0.066 53.813);
    --hx-color-lime-50: oklch(98.6% 0.031 120.757);
    --hx-color-lime-100: oklch(96.7% 0.067 122.328);
    --hx-color-lime-200: oklch(93.8% 0.127 124.321);
    --hx-color-lime-300: oklch(89.7% 0.196 126.665);
    --hx-color-lime-400: oklch(84.1% 0.238 128.85);
    --hx-color-lime-500: oklch(76.8% 0.233 130.85);
    --hx-color-lime-600: oklch(64.8% 0.2 131.684);
    --hx-color-lime-700: oklch(53.2% 0.157 131.589);
    --hx-color-lime-800: oklch(45.3% 0.124 130.933);
    --hx-color-lime-900: oklch(40.5% 0.101 131.063);
    --hx-color-lime-950: oklch(27.4% 0.072 132.109);
    --hx-color-green-50: oklch(98.2% 0.018 155.826);
    --hx-color-green-100: oklch(96.2% 0.044 156.743);
    --hx-color-green-200: oklch(92.5% 0.084 155.995);
    --hx-color-green-300: oklch(87.1% 0.15 154.449);
    --hx-color-green-400: oklch(79.2% 0.209 151.711);
    --hx-color-green-500: oklch(72.3% 0.219 149.579);
    --hx-color-green-600: oklch(62.7% 0.194 149.214);
    --hx-color-green-700: oklch(52.7% 0.154 150.069);
    --hx-color-green-800: oklch(44.8% 0.119 151.328);
    --hx-color-green-900: oklch(39.3% 0.095 152.535);
    --hx-color-green-950: oklch(26.6% 0.065 152.934);
    --hx-color-emerald-50: oklch(97.9% 0.021 166.113);
    --hx-color-emerald-100: oklch(95% 0.052 163.051);
    --hx-color-emerald-200: oklch(90.5% 0.093 164.15);
    --hx-color-emerald-300: oklch(84.5% 0.143 164.978);
    --hx-color-emerald-400: oklch(76.5% 0.177 163.223);
    --hx-color-emerald-500: oklch(69.6% 0.17 162.48);
    --hx-color-emerald-600: oklch(59.6% 0.145 163.225);
    --hx-color-emerald-700: oklch(50.8% 0.118 165.612);
    --hx-color-emerald-800: oklch(43.2% 0.095 166.913);
    --hx-color-emerald-900: oklch(37.8% 0.077 168.94);
    --hx-color-emerald-950: oklch(26.2% 0.051 172.552);
    --hx-color-teal-50: oklch(98.4% 0.014 180.72);
    --hx-color-teal-100: oklch(95.3% 0.051 180.801);
    --hx-color-teal-200: oklch(91% 0.096 180.426);
    --hx-color-teal-300: oklch(85.5% 0.138 181.071);
    --hx-color-teal-400: oklch(77.7% 0.152 181.912);
    --hx-color-teal-500: oklch(70.4% 0.14 182.503);
    --hx-color-teal-600: oklch(60% 0.118 184.704);
    --hx-color-teal-700: oklch(51.1% 0.096 186.391);
    --hx-color-teal-800: oklch(43.7% 0.078 188.216);
    --hx-color-teal-900: oklch(38.6% 0.063 188.416);
    --hx-color-teal-950: oklch(27.7% 0.046 192.524);
    --hx-color-cyan-50: oklch(98.4% 0.019 200.873);
    --hx-color-cyan-100: oklch(95.6% 0.045 203.388);
    --hx-color-cyan-200: oklch(91.7% 0.08 205.041);
    --hx-color-cyan-300: oklch(86.5% 0.127 207.078);
    --hx-color-cyan-400: oklch(78.9% 0.154 211.53);
    --hx-color-cyan-500: oklch(71.5% 0.143 215.221);
    --hx-color-cyan-600: oklch(60.9% 0.126 221.723);
    --hx-color-cyan-700: oklch(52% 0.105 223.128);
    --hx-color-cyan-800: oklch(45% 0.085 224.283);
    --hx-color-cyan-900: oklch(39.8% 0.07 227.392);
    --hx-color-cyan-950: oklch(30.2% 0.056 229.695);
    --hx-color-sky-50: oklch(97.7% 0.013 236.62);
    --hx-color-sky-100: oklch(95.1% 0.026 236.824);
    --hx-color-sky-200: oklch(90.1% 0.058 230.902);
    --hx-color-sky-300: oklch(82.8% 0.111 230.318);
    --hx-color-sky-400: oklch(74.6% 0.16 232.661);
    --hx-color-sky-500: oklch(68.5% 0.169 237.323);
    --hx-color-sky-600: oklch(58.8% 0.158 241.966);
    --hx-color-sky-700: oklch(50% 0.134 242.749);
    --hx-color-sky-800: oklch(44.3% 0.11 240.79);
    --hx-color-sky-900: oklch(39.1% 0.09 240.876);
    --hx-color-sky-950: oklch(29.3% 0.066 243.157);
    --hx-color-blue-50: oklch(97% 0.014 254.604);
    --hx-color-blue-100: oklch(93.2% 0.032 255.585);
    --hx-color-blue-200: oklch(88.2% 0.059 254.128);
    --hx-color-blue-300: oklch(80.9% 0.105 251.813);
    --hx-color-blue-400: oklch(70.7% 0.165 254.624);
    --hx-color-blue-500: oklch(62.3% 0.214 259.815);
    --hx-color-blue-600: oklch(54.6% 0.245 262.881);
    --hx-color-blue-700: oklch(48.8% 0.243 264.376);
    --hx-color-blue-800: oklch(42.4% 0.199 265.638);
    --hx-color-blue-900: oklch(37.9% 0.146 265.522);
    --hx-color-blue-950: oklch(28.2% 0.091 267.935);
    --hx-color-indigo-50: oklch(96.2% 0.018 272.314);
    --hx-color-indigo-100: oklch(93% 0.034 272.788);
    --hx-color-indigo-200: oklch(87% 0.065 274.039);
    --hx-color-indigo-300: oklch(78.5% 0.115 274.713);
    --hx-color-indigo-400: oklch(67.3% 0.182 276.935);
    --hx-color-indigo-500: oklch(58.5% 0.233 277.117);
    --hx-color-indigo-600: oklch(51.1% 0.262 276.966);
    --hx-color-indigo-700: oklch(45.7% 0.24 277.023);
    --hx-color-indigo-800: oklch(39.8% 0.195 277.366);
    --hx-color-indigo-900: oklch(35.9% 0.144 278.697);
    --hx-color-indigo-950: oklch(25.7% 0.09 281.288);
    --hx-color-violet-50: oklch(96.9% 0.016 293.756);
    --hx-color-violet-100: oklch(94.3% 0.029 294.588);
    --hx-color-violet-200: oklch(89.4% 0.057 293.283);
    --hx-color-violet-300: oklch(81.1% 0.111 293.571);
    --hx-color-violet-400: oklch(70.2% 0.183 293.541);
    --hx-color-violet-500: oklch(60.6% 0.25 292.717);
    --hx-color-violet-600: oklch(54.1% 0.281 293.009);
    --hx-color-violet-700: oklch(49.1% 0.27 292.581);
    --hx-color-violet-800: oklch(43.2% 0.232 292.759);
    --hx-color-violet-900: oklch(38% 0.189 293.745);
    --hx-color-violet-950: oklch(28.3% 0.141 291.089);
    --hx-color-purple-50: oklch(97.7% 0.014 308.299);
    --hx-color-purple-100: oklch(94.6% 0.033 307.174);
    --hx-color-purple-200: oklch(90.2% 0.063 306.703);
    --hx-color-purple-300: oklch(82.7% 0.119 306.383);
    --hx-color-purple-400: oklch(71.4% 0.203 305.504);
    --hx-color-purple-500: oklch(62.7% 0.265 303.9);
    --hx-color-purple-600: oklch(55.8% 0.288 302.321);
    --hx-color-purple-700: oklch(49.6% 0.265 301.924);
    --hx-color-purple-800: oklch(43.8% 0.218 303.724);
    --hx-color-purple-900: oklch(38.1% 0.176 304.987);
    --hx-color-purple-950: oklch(29.1% 0.149 302.717);
    --hx-color-fuchsia-50: oklch(97.7% 0.017 320.058);
    --hx-color-fuchsia-100: oklch(95.2% 0.037 318.852);
    --hx-color-fuchsia-200: oklch(90.3% 0.076 319.62);
    --hx-color-fuchsia-300: oklch(83.3% 0.145 321.434);
    --hx-color-fuchsia-400: oklch(74% 0.238 322.16);
    --hx-color-fuchsia-500: oklch(66.7% 0.295 322.15);
    --hx-color-fuchsia-600: oklch(59.1% 0.293 322.896);
    --hx-color-fuchsia-700: oklch(51.8% 0.253 323.949);
    --hx-color-fuchsia-800: oklch(45.2% 0.211 324.591);
    --hx-color-fuchsia-900: oklch(40.1% 0.17 325.612);
    --hx-color-fuchsia-950: oklch(29.3% 0.136 325.661);
    --hx-color-pink-50: oklch(97.1% 0.014 343.198);
    --hx-color-pink-100: oklch(94.8% 0.028 342.258);
    --hx-color-pink-200: oklch(89.9% 0.061 343.231);
    --hx-color-pink-300: oklch(82.3% 0.12 346.018);
    --hx-color-pink-400: oklch(71.8% 0.202 349.761);
    --hx-color-pink-500: oklch(65.6% 0.241 354.308);
    --hx-color-pink-600: oklch(59.2% 0.249 0.584);
    --hx-color-pink-700: oklch(52.5% 0.223 3.958);
    --hx-color-pink-800: oklch(45.9% 0.187 3.815);
    --hx-color-pink-900: oklch(40.8% 0.153 2.432);
    --hx-color-pink-950: oklch(28.4% 0.109 3.907);
    --hx-color-rose-50: oklch(96.9% 0.015 12.422);
    --hx-color-rose-100: oklch(94.1% 0.03 12.58);
    --hx-color-rose-200: oklch(89.2% 0.058 10.001);
    --hx-color-rose-300: oklch(81% 0.117 11.638);
    --hx-color-rose-400: oklch(71.2% 0.194 13.428);
    --hx-color-rose-500: oklch(64.5% 0.246 16.439);
    --hx-color-rose-600: oklch(58.6% 0.253 17.585);
    --hx-color-rose-700: oklch(51.4% 0.222 16.935);
    --hx-color-rose-800: oklch(45.5% 0.188 13.697);
    --hx-color-rose-900: oklch(41% 0.159 10.272);
    --hx-color-rose-950: oklch(27.1% 0.105 12.094);
    --hx-color-slate-50: oklch(98.4% 0.003 247.858);
    --hx-color-slate-100: oklch(96.8% 0.007 247.896);
    --hx-color-slate-200: oklch(92.9% 0.013 255.508);
    --hx-color-slate-300: oklch(86.9% 0.022 252.894);
    --hx-color-slate-400: oklch(70.4% 0.04 256.788);
    --hx-color-slate-500: oklch(55.4% 0.046 257.417);
    --hx-color-slate-600: oklch(44.6% 0.043 257.281);
    --hx-color-slate-700: oklch(37.2% 0.044 257.287);
    --hx-color-slate-800: oklch(27.9% 0.041 260.031);
    --hx-color-slate-900: oklch(20.8% 0.042 265.755);
    --hx-color-slate-950: oklch(12.9% 0.042 264.695);
    --hx-color-gray-50: oklch(98.5% 0.002 247.839);
    --hx-color-gray-100: oklch(96.7% 0.003 264.542);
    --hx-color-gray-200: oklch(92.8% 0.006 264.531);
    --hx-color-gray-300: oklch(87.2% 0.01 258.338);
    --hx-color-gray-400: oklch(70.7% 0.022 261.325);
    --hx-color-gray-500: oklch(55.1% 0.027 264.364);
    --hx-color-gray-600: oklch(44.6% 0.03 256.802);
    --hx-color-gray-700: oklch(37.3% 0.034 259.733);
    --hx-color-gray-800: oklch(27.8% 0.033 256.848);
    --hx-color-gray-900: oklch(21% 0.034 264.665);
    --hx-color-gray-950: oklch(13% 0.028 261.692);
    --hx-color-zinc-50: oklch(98.5% 0 0);
    --hx-color-zinc-100: oklch(96.7% 0.001 286.375);
    --hx-color-zinc-200: oklch(92% 0.004 286.32);
    --hx-color-zinc-300: oklch(87.1% 0.006 286.286);
    --hx-color-zinc-400: oklch(70.5% 0.015 286.067);
    --hx-color-zinc-500: oklch(55.2% 0.016 285.938);
    --hx-color-zinc-600: oklch(44.2% 0.017 285.786);
    --hx-color-zinc-700: oklch(37% 0.013 285.805);
    --hx-color-zinc-800: oklch(27.4% 0.006 286.033);
    --hx-color-zinc-900: oklch(21% 0.006 285.885);
    --hx-color-zinc-950: oklch(14.1% 0.005 285.823);
    --hx-color-neutral-50: oklch(98.5% 0 0);
    --hx-color-neutral-100: oklch(97% 0 0);
    --hx-color-neutral-200: oklch(92.2% 0 0);
    --hx-color-neutral-300: oklch(87% 0 0);
    --hx-color-neutral-400: oklch(70.8% 0 0);
    --hx-color-neutral-500: oklch(55.6% 0 0);
    --hx-color-neutral-600: oklch(43.9% 0 0);
    --hx-color-neutral-700: oklch(37.1% 0 0);
    --hx-color-neutral-800: oklch(26.9% 0 0);
    --hx-color-neutral-900: oklch(20.5% 0 0);
    --hx-color-neutral-950: oklch(14.5% 0 0);
    --hx-color-stone-50: oklch(98.5% 0.001 106.423);
    --hx-color-stone-100: oklch(97% 0.001 106.424);
    --hx-color-stone-200: oklch(92.3% 0.003 48.717);
    --hx-color-stone-300: oklch(86.9% 0.005 56.366);
    --hx-color-stone-400: oklch(70.9% 0.01 56.259);
    --hx-color-stone-500: oklch(55.3% 0.013 58.071);
    --hx-color-stone-600: oklch(44.4% 0.011 73.639);
    --hx-color-stone-700: oklch(37.4% 0.01 67.558);
    --hx-color-stone-800: oklch(26.8% 0.007 34.298);
    --hx-color-stone-900: oklch(21.6% 0.006 56.043);
    --hx-color-stone-950: oklch(14.7% 0.004 49.25);
    --hx-color-black: #000;
    --hx-color-white: #fff;


  }
  .hx\:from-fuchsia-600{
    --tw-gradient-from:var(--hx-color-fuchsia-600);
    --tw-gradient-stops:var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position))
  }

  .hx\:to-pink-600{
    --tw-gradient-to:var(--hx-color-pink-600);
    --tw-gradient-stops:var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position))
  }
}

